@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-style: normal;
    font-weight: 400;
    src: url('/assets/monaspace-xenon-regular.woff2') format('woff2');
    font-family: 'Monaspace Xenon';
  }

  @font-face {
    font-style: normal;
    font-weight: 700;
    src: url('/assets/monaspace-xenon-bold.woff2') format('woff2');
    font-family: 'Monaspace Xenon';
  }
}
